body{
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}


h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

header.name {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
    width: 70%;
    max-width: 400px;
    max-height: 50px;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    align-items: center;
    border: 3px solid orange ;
    border-radius: 80px;
    backdrop-filter: blur(50px);
    transform: translateY(10px);
}


.bio {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: auto;
    margin: 4rem auto;
    background-color: tan;
    border: 10px solid #00000011;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #00000011;
}

.bio img {
    border: 5px solid black;
    border-radius: 20px;
    margin: 10px;
    width: 150px;
    display: flex;
    margin: auto;
}

.bio p {
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color:lightgray;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.bio-text {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bio h2 {
   font-size: 2rem;
   align-items: center;
   justify-content: center;
   margin: auto;
   margin-bottom: 1rem;
}


.socials {
    position: sticky;
    width: 50%;
    max-width: 500px;
    max-height: 50px;
    margin: auto;
    padding: 1rem 2rem;
    background: #00000011;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    border: 1px solid orange;
    border-radius: 50px;
    transform: translateY(10px);
}

.links {
    position: sticky;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: orange;
    font-size: 1rem;
    text-decoration: none;
}

nav ul li a:hover {
    color: #be7b0f;
    text-decoration: 1rem;
    text-decoration: underline;
}

/* Project Section */

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
}

.projects h2 {
    margin: 0rem auto 2rem auto;
    max-width: 800px;
    text-align: center;
}

.project-title {
    background-color: tan;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.project-title:hover {
    background-color: lightgray;
    color: black;
}

.project-title.active {
    background-color: lightgray;
    color: black;
}

.project-description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease;
    background-color: tan;
    border-radius: 5px;
    font-weight: 300;
    margin: 10px;
    
}

.project-description.active {
    max-height: 100px;
}

.project-URL {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease;
    font-weight: 300;
    margin: 10px;
    display: block;
}

.project-URL:hover {
    background-color: tan;
    color: black;
    border-radius: 5px;
}

.project-URL.active {
    max-height: 50px;
}


/* Contact Form Section */

.input-row {
    overflow: hidden;
    transition: max-height 0.25s ease;
    font-weight: 300;
    margin: 10px;
    display: block;
} 
  